.message-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}


.message-list {
    overflow-y: scroll;
}

.message-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
}