.general-screen-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #3c113d;
    color: white;
    font-family: 'Lato', sans-serif;
}

.general-screen__home-screen{
    display: flex;
    flex-direction: row;
    height: 100%;
}